/*

Easy Academy


- Courses:  http://www.memrise.com/user/EasyAcademy/courses/teaching/

- EasyAcademyTV: https://www.youtube.com/user/EasyAcademyTV

- Facebook: https://www.facebook.com/easyacademyweb/

- Website: https://easyacademyweb.wordpress.com/

- Github: https://github.com/EasyAcademy/Open-Memrise-Manager


*/

@import url(https://fonts.googleapis.com/css?family=Sigmar+One);

body {
color: #fff;
overflow: hidden;
background: #000;
}

canvas {
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
}

.congrats {
  position: absolute;
  top: 0;
  width: 1000px;
  height: 220px;
  padding: 20px 10px;
  text-align: center;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
}

h1 {
  transform-origin: 50% 50%;
  font-family: 'Sigmar One', cursive;
  cursor: pointer;
  z-index: 2;
  margin: 0;
  top: 0;
  text-align: center;
  font-size: 64px;
}